body {
  font-size: 14px;
  font-family: $defaultFont;
  color: var(--dark-grayish-blue); //Color feels off, but I don't see what color it would be otherwise.
}

h1,
h2 {
  font-family: $highlightFont;
  color: var(--very-dark-blue);
}