.product-card {
  border-radius: 16px;
  background-color: var(--white);
  background-clip: padding-box;
  max-width: 686px;
  width: calc(100% - $bodySidePadding*2);
  &__aside {}
  &__pic {}
  &__img {
    max-width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
  }
  &__header {}
  &__category {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }
  &__title {}
  &__content {
    padding: 24px;
  }
  &__text {}
  &__footer {}
  &__price {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    &--curr {
      font-size: 2rem;
      font-family: $highlightFont;
      color: var(--dark-cyan);
    }
    &--prev {
      text-decoration: line-through;
    }
  }
  &__btn {
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.4s ease;
    cursor: pointer;
    &--green {
      background-color: var(--dark-cyan);
      color: var(--white);
    }
    &-icon {}
    &:hover,
    &:active {
      background-color: var(--very-dark-blue);
    }
  }
}