body {}

.product-card {
  &__aside {}
  &__img {}
  &__header {}
  &__category {}
  &__title {}
  &__content {}
  &__text {}
  &__footer {}
  &__price {
    &--prev {}
  }
  &__btn {
    &--green {}
    &-icon {}
  }
}


/* Preconfigured attribution: */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}